.card_model {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  background: rgb(42, 182, 142);
  background: linear-gradient(
    5deg,
    rgba(65, 118, 233, 0.747) 17%,
    rgb(180, 199, 239) 55%,
    rgb(125, 165, 253) 60%,
    rgba(56, 105, 212, 0.645) 88%
  );
  backdrop-filter: blur(8px);
  border-radius: 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 16px 12px;
}
.card_model:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.model_fav {
  position: relative;
  top: 0;
  left: 100px;
  font-size: 20px;
  color: white;
}
.model_fav:hover {
  color: red;
}
.model_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  color: white;
}
.model_desc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.model_desc button {
  text-align: center;
  padding: 10px 12px;
  outline: none;
  border: none;
  background-color: rgba(136, 85, 169, 0.6);
  color: white;
  font-size: 14px;
  border-radius: 15px;
}
.model_desc button:hover {
  text-align: center;
  padding: 10px 12px;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.888);
  color: white;
  font-size: 14px;
  border-radius: 15px;
}
