.container_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0 50px;
  margin-top: 80px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 80px;
}
.container_right {
  max-width: 1000px;
  width: 100%;
}

.container_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.container_header h1 {
  font-size: 36px;
  font-weight: 700;
  background: linear-gradient(
    17deg,
    rgb(255 0 0) 0%,
    rgb(123 101 117) 26%,
    rgba(115, 150, 220, 1) 47%,
    rgba(45, 104, 204, 1) 63%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
