.container_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0 50px;
  margin-top: 80px;
}

.container {
  gap: 25px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 80px;
}
.container_right {
  max-width: 1000px;
  width: 100%;
}
.container_left {
  max-width: 300px;
  width: 100%;
}
.container_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.container_header h1 {
  font-size: 36px;
  font-weight: 700;
  color: rgba(198, 59, 54, 0.823);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
  }
}
