.card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
  grid-gap: 50px;
  align-items: stretch;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .card {
    grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
  }
}
