header {
  padding: 40px 35px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #e2202055;
  backdrop-filter: blur(8px);
  z-index: 9999;
}

.logo img {
  width: 65px;
  height: 22px;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav_items ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.nav_items ul li {
  cursor: pointer;
  color: white;
}

.nav_search {
  position: relative;
  max-width: 700px;
  width: 100%;
  border-radius: 10px;
  background-color: white;
}
.nav_search input {
  padding: 14px 14px 14px 40px;
  border-radius: none;
  background-color: transparent;
  color: red;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 90%;
}

.nav_search input::placeholder {
  color: red;
}

.search_icon {
  position: absolute;
  top: 14px;
  left: 14px;
  color: red;
  cursor: pointer;
}
