.footer {
  margin-top: 150px;
  background: linear-gradient(
    0deg,
    rgba(154, 213, 226, 1) 2%,
    rgba(17, 140, 233, 1) 95%
  );
  width: 100%;
  bottom: 0;
  position: relative;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
.footer_logo img {
  width: 85px;
  height: 32px;
  cursor: pointer;
}
.footer_desc {
  display: flex;
  justify-content: center;
  gap: 5px;
  color: white;
}
.footer_social ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;

  cursor: pointer;
}
.footer_social ul li a {
  text-decoration: none;
  color: white;
}
.footer_social ul li:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: 0.8s ease-out;
}
.footer_desc h5 {
  font-weight: 400;
  font-size: 16px;
}

.footer_item a:first-child {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: white;
}
.footer_item a:last-child {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: white;
}
.footer_item a:hover {
  color: rgba(11, 109, 144, 0.532);
}
