.footer {
  margin-top: 150px;
  background: linear-gradient(
    0deg,
    rgba(154, 213, 226, 1) 2%,
    rgba(17, 140, 233, 1) 95%
  );
  width: 100%;
  bottom: 0;
  position: relative;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
.footer_logo img {
  width: 85px;
  height: 32px;
  cursor: pointer;
}
.footer_desc {
  display: flex;
  justify-content: center;
  gap: 5px;
  color: white;
}
.footer_social ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  color: white;
  cursor: pointer;
}
.footer_desc h5 {
  font-weight: 400;
  font-size: 16px;
}
.footer_desc h4 {
  font-weight: 700;
  font-size: 16px;
  background: linear-gradient(
    17deg,
    rgb(255 0 0) 0%,
    rgb(255, 48, 48) 36%,
    rgb(67, 113, 204) 60%,
    rgb(23, 88, 200) 63%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
