.footer {
  margin-top: 150px;
  background: linear-gradient(
    0deg,
    rgba(154, 213, 226, 1) 2%,
    rgba(17, 140, 233, 1) 95%
  );
  width: 100%;
  bottom: 0;
  position: relative;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
